{% extends "base.html" %}
{% block content %}
<h2>รายการงานทั้งหมด</h2>
<table>
    <tr>
        <th>ชื่อเรื่อง</th>
        <th>วันที่</th>
        <th>วิชา</th>
        <th>ความสำคัญ</th>
        <th>สถานะ</th>
    </tr>
    {% for event in events %}
    <tr>
        <td>{{ event._title }}</td>
        <td>{{ event._date }}</td>
        <td>{{ event._subject }}</td>
        <td>{{ event._priority.name }}</td>
        <td>{{ event._status.name }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
