{% extends "base.html" %}
{% block content %}
<h2>รายการงานทั้งหมด</h2>
<table>
    <tr>
        <th>ชื่อเรื่อง</th>
        <th>วันที่</th>
        <th>วิชา</th>
        <th>รายละเอียด</th>
        <th>ความสำคัญ</th>
        <th>สถานะ</th>
    </tr>
    {% for event in events %}
    <tr>
        <td>{{ event._title }}</td>
        <td>{{ event._date }}</td>
        <td>{{ event._subject }}</td>
        <td>{{ event._description }}</td>
        <td>{{ event._priority.name }}</td>
        <td>{{ event._status.name }}</td>
        <td>
            <form action="{{ url_for('delete_event', event_id=event._id) }}" method="POST"
                  onsubmit="return confirm('ลบ ' + '{{ event._title }}' + ' ใช่ไหม?')">
                <button type="submit">ลบ</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
